:root {
  --rp-c-brand: hsl(210, 100%, 40%);
  --rp-c-brand-light: var(--rp-c-brand);
  --rp-c-brand-lighter: hsl(210, 100%, 50%);
  --rp-c-brand-dark: hsl(210, 100%, 30%);
  --rp-c-brand-darker: hsl(210, 100%, 20%);
  --rp-c-brand-tint: hsla(210, 100%, 75%, 0.161);
  --rp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    var(--rp-c-brand) 30%,
    var(--rp-c-brand-lighter)
  );
}
.rspress-logo {
  height: 2rem;
}

.example-output {
  padding: 1.25rem;
  border-radius: 4px;
  background-color: black;

  .xterm .xterm-viewport {
    overflow-y: hidden;
  }
}
